#appTitle{
    width: 100vw;
    height: 10vh;
    background-color:blue;
    color: black;
    border: 1px solid gray;
    text-align: center;
}

img{

    width:10vw;
    height:20vh;
    display: block;
}