#appTitle{
    width: 100vw;
    height: 10vh;
    background-color:blue;
    color: black;
    border: 1px solid gray;
    text-align: center;
}

img{

    width:10vw;
    height:20vh;
    display: block;
}

#goods{

    display: grid;
    grid-template-areas: 
    "coke pie lollipop"
    "snacks juice sandwich"
    "cookies ice-cream chocolate";
    grid-gap: 2px;
}